@charset "UTF-8";

#body { 
    background-color: black;
}

#footer { 
    color: white;
    margin-top: 8rem; 

}

.imagem-container img {
    height: 307px;
    width: fit-content;
    display: flex;
    align-self: center;
}

.imagem-container {
    display: flex;
}

.nav-centro {
    padding: 0px 3px 10px 3px;
}

.pesquisa {
    margin: 20px;
    max-width: 200px;
}

.botao-pesquisa {
    margin: 20px;
}

.opcoes {
    margin: 20px;
}

.imgcarro {
    height: 500px;
}

.carro {
    margin: 100px;
    margin-bottom: 100px;
    color: #0d6efd;
}

.section-produtos {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.produtos {
    margin-top: 20px;
    margin-bottom: 20px;
}

.cadastro {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 2rem;
}

.login {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: baseline;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 20px;
}

.cadastro-formulario {
    margin-bottom: 2rem;
    margin-top: -2rem;
}

.cadastro-botao {
    margin-top: -4rem;
}

.header-login {
    margin-bottom: 1rem;
    margin-top: 4rem;
}

.botao-login {
    margin-top: 0rem;
}

.botao-login-l {
    margin-top: 0rem;
}
.titulo {
    
    font-family: inherit;
    font-weight: inherit;
    font-size: xx-large;
}

.section-produtos {
    text-align: center;
}

.dados-cadastro {
    color: white;
    text-align: center;
    margin-bottom: 2rem;
}

.comoFunciona {
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
}

.como-funciona {
    color: white;
    text-align: center;
    margin-top: 4rem;
}

.canvas {
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 0rem;
    margin: 5rem;
}

.espaco {
    margin: 1rem;
    padding: 2rem;
}

.corpo-canvas {
    background-color: black;
    color: white;
}

.fechar {
    color: white;
}

.pacotes-lances-leiloes {
    color: white;
    text-align: center;
}

.pagina-lances {
    background-color: black;
}

#index-como-funciona {
    padding: 4rem;
}